<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mapp styles -->
    <link rel="stylesheet" href="./map/dist/css/mapp.min.css">
    <link rel="stylesheet" href="./map/dist/css/fa/style.css" data-locale="true">
    <!-- Your styles -->
    <link rel="stylesheet" href="./map/app/css/app.css">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="./map/dist/js/jquery-3.2.1.min.js"></script>
    <!-- Mapp scripts -->
    <script type="text/javascript" src="./map/dist/js/mapp.env.js"></script>
    <script type="text/javascript" src="./map/dist/js/mapp.min.js"></script>
    <!-- Your scripts -->
    <script type="text/javascript" src="./map/app/js/app.js"></script>
</body>
</html>
