@model banimo.ViewModel.TicketViewModel.InfoForNewTicket
@{
    Layout = "~/Views/Shared/_TicketLayout.cshtml";
    ViewBag.Title = "تیکیت جدید";
}

<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">

    <div id="home" class="tab-pane fade in active" style="padding-top:20px">





        <div id="OrderTableHolder">
            <div class="row">
                <div style="overflow-x:auto;padding:10px">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                            <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i> افزودن تیکت جدید  </h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart">

                                <style>
                                    .formtitle {
                                        margin-right: 10px;
                                        font-weight: 700
                                    }
                                    /*.col-sm-12{
                                        width:100%;
                                    }*/
                                </style>
                                <form id="setNewTicket" name="setNewTicket" action="newTicket" method="post">
                                    
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top:15px">
                                            <p class="formtitle"> اولویت :</p>
                                            <div>
                                                @Html.DropDownList("importance", new SelectList(Model.importanceList, "ID", "title"), "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top:15px">
                                            <p class="formtitle">بخش :</p>
                                            <div>
                                                @Html.DropDownList("section", new SelectList(Model.sectionList, "ID", "title"), "", new { @class = "form-control" })
                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:15px">

                                            <p class="formtitle"> عنوان : </p>
                                            <div>
                                                <input name="title" type="text" class="form-control" id="title" />
                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:15px">

                                            <p class="formtitle"> متن : </p>
                                            <div>
                                                <textarea name="content" class="form-control" style="height:250px" cols="20"> </textarea>
                                            </div>

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:15px; text-align:center">


                                            <button  style="padding:10px; width:50%; margin:auto" class="btn btn-success ">تایید </button>


                                        </div>
                                    </div>
                                </form>
                              



                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script>


                $(".ticketDetail").click(function () {

                    var ID = $(this).attr('id');
                    window.location.href = "/Ticket/ticketDetail?id=" + ID;
                })



            </script>
            <div class="detailHolder">

            </div>
        </div>


    </div>
</div>




