@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%; height:100%; align-content:center;">
    <img src="/images/Error500.jpg" style="margin-left: 20%; margin-right: auto;" />
</div>