@{
    ViewBag.Title = "veri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="direction:rtl; padding:50px 25px;">
    <h2 style="float:right; color:#0d8559; padding-bottom:50px;width:100%; border-bottom:1px solid #ddd " >پرداخت شما با موفقیت انجام شد</h2>

    <img style=" float:left; margin-top:50px" src="~/images/successP.png" />
    <div style="float:right">
        <div class="p" style="padding-top:60px; line-height:2.5">
            <div class=" childofp"><p style="font-size:25px">وضعیت تراکنش:   &nbsp;&nbsp;&nbsp;  <span style="font-size:25px">5258</span></p> </div>
            <div class=" childofp"><p style="font-size:25px">شماره پیگیری:    &nbsp;&nbsp;&nbsp;  <span style="font-size:25px">5258</span></p> </div>
            <div class=" childofp" ><p style="font-size:25px">شماره فاکتور:  &nbsp;&nbsp;&nbsp;  <span style="font-size:25px">8585</span></p> </div>

        </div>
    </div>
</div>
